version: "3.5"
services:
  app:
    container_name: hashtag-service
    restart: always
    build: .
    ports:
      - "8085:8085"
    links:
      - db
    environment:
    - DB=mongodb://db:27017/mongodb
  # db:
  #   container_name: mongodb
  #   image: mongo:latest
  #   ports:
  #     - "27017:27017"